ConsoleApplication2/Service References/VendorSvc/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CoreNAV.DataContracts" />
  <xs:element name="GetVendors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CoreNAV.DataContracts" minOccurs="0" name="GetVendorsResult" nillable="true" type="q1:ArrayOfNAVVendor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaySomething">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaySomethingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaySomethingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>